socket
ipaddress~=1.0.23
scapy~=2.4.4
os
time
datetime~=4.3
typing
ipaddress
pyttsx3~=2.90
argparse~=1.4.0
colorama~=0.4.4
wget~=3.2
playsound
pythonping~=1.0.16

backcall==0.2.0
cffi==1.14.5
colorama==0.4.4
comtypes==1.1.9
cryptography==3.4.7
cycler==0.10.0
DateTime==4.3
decorator==5.0.5
ipaddress==1.0.23
ipython==7.22.0
ipython-genutils==0.2.0
jedi==0.18.0
keyboard==0.13.5
kiwisolver==1.3.1
matplotlib==3.4.1
numpy==1.20.2
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
playsound==1.2.2
prompt-toolkit==3.0.18
pycparser==2.20
Pygments==2.8.1
pynput==1.7.3
pyparsing==3.0.0b2
pypiwin32==223
python-dateutil==2.8.1
pythonping==1.0.16
pyttsx3==2.90
pytz==2021.1
pywin32==300
PyX==0.15
scapy==2.4.4
six==1.15.0
traitlets==5.0.5
typing==3.7.4.3
wcwidth==0.2.5
wget==3.2
zope.interface==5.3.0